body {
  /* font-family: 'Gill Sans MT Pro'; */
  font-family: "Gill Sans MT Pro", Sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-size: medium;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d7d3bf;
}

main {
  margin: 2%;
}
table {
  width: 100%;
}
table,
th,
td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

#amazon {
  height: auto;
  width: 20%;
  /* max-width: 200px; */
  margin: 0 auto;
  border: 5px solid #3d3d3d;
  padding: 1%;
  /* flex-grow: 2; */
}

video {
  height: auto;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 5px solid #3d3d3d;
  padding: 1%;
  flex-grow: 0;
}

#music {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  background-color: #3d3d3d;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.head ul a {
  color: white;
}

.logo {
  height: auto;
  width: 150px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu ul {
  display: flex;
  margin: 0;
  padding-right: 22px;
  list-style: none;
}
.menu li {
  padding-right: 35px;
}

.menu a {
  text-decoration: none;
  position: relative;
}
  
.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu a::before {
  background-color: #3d3d3d;
}

.menu a::after {
  background-color: #fffdec;
}

.menu a:hover::before,
.menu a:hover::after {
  transform: scaleX(1);
}

#img1,
#img2 {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.health,
.it {
  position: relative;
  width: 40%;
  margin: 10px;
}

.center,
.center2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  color: white;
  text-align: center;
}

form fieldset{
  border: 2px solid black;
}
legend{
  text-align: center;
}

textarea{
  font-family: "Gill Sans MT Pro", Sans-serif;
}

#submit {
  margin-left: auto;
  background-color: #3d3d3d;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  margin-right: 0;
  color: white;
  width:98%;
}

.footer {
  background-color: #3d3d3d;
  padding: 20px;
  line-height: 1.5;
  text-align: center;
  color: white;
}

.footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.flogo a {
  position: relative;
  display: flex;
}

.flogo img{
  height: 5rem;
  width:9rem;
}

.flogo a::before,
.flogo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.flogo a::before {
  background-color: #3d3d3d;
}

.flogo a::after {
  background-color: #fffdec;
}

.flogo a:hover::before,
.flogo a:hover::after {
  transform: scaleX(1);
}

form {
  box-shadow: #3d3d3d 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: auto;
  width: 50%;
  margin-left: 25%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form-field.full-width {
  width: 100%;
}

form input,
form textarea {

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

legend {
  margin-bottom: 10px;
}

.phone{
  text-decoration: none;
  color: inherit;
}

@media (min-width: 769px) {
  .form-group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-field {
    flex: 1 1 calc(50% - 20px);
  }

  .form-field.full-width {
    flex: 1 1 100%;
  }

  .menu {
    flex-direction: row;
    margin-left: auto;
  }

  .menu ul {
    margin-left: 2rem;
  }

  .footer nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .media {
    flex-direction: row;
    justify-content: space-between;
  }

  #amazon {   
    max-width: 30%;
  }

  video {
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .head {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .menu ul {
    flex-direction: column;
    margin: 0.5rem;
    text-align: center;
  }

  .footer nav {
    flex-direction: column;
    align-items: center;
  }

  .media {
    flex-direction: column;
  }

  #amazon{
    width: 70%;
    margin: 0 auto;
  }

  video {
    max-width: 90%;
    margin: 0 auto;
  }
  .health,
  .it {
    width: 80%;
  }

  .center {
    font-size: large;
  }
  .health,
  .it {
    width: 100%;
  }

  .center {
    font-size: medium;
  }
}
